body {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

h1,h2,h3,h4{
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: rgba(0,0,0,0.8);
}

img {
  width: 90vw;
  margin: 5vw;
}

a {
  color: rgba(30,30,30,1);
  transition: 0.5s;
}

a:visited {
  color: rgba(30,30,30,0.7);
}

a:hover {
  color: rgba(166,2,15,1);
}

pre {
  font-family: 'Source Code Pro';
  font-weight: 400;
  background: rgba(0,0,0,0.1);
  padding: 10px 5px;
}

main {
  margin: 0 8px;
}

footer {
  padding-bottom: 50px;
  padding-top: 50px;
}

table {
  width: 90%;
  font-size: 14px;
}

th {
  padding: 3px;
  font-family: 'Merriweather';
  font-weight: 900;
}

td {
  padding: 3px;
  font-weight: 300;
  font-style: italic;
  border-bottom: 1px solid #BBB;
}

tr{

}

.menubox {
  position: fixed;
  z-index: 0;
  bottom: -155px;
  left: auto;
  right: auto;
  width: 100vw;
  /*background-color: rgba(26,43,43,1);*/
  background-color: rgba(166,2,15,1);
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s;
}

nav {
  display: block;
  float: left;
  width: 80vw;
  padding: 10px 10px 20px 10px;

}

.menuicon {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0,0,0,0);
  font-size: 30px;
  display: block;
  float: left;
  /*width: 40vw;*/
  padding: 7px 0 7px 45vw;
  width: 100vw;
  transition: 0.5s;
}

#menutoggle {
  display: none;
}

#menutoggle:checked + .menubox{
  bottom: 0;
}

#menutoggle:checked + .menubox .menuicon {
  padding-left: 17px;
  background-color: rgba(0,0,0,0.3);
}

.menu-item {
  clear: left;
  padding: 10px 0px 10px 10px;
  width: 100%;
  display: inline-block;
  /*float: left;*/
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  transition: 0.5s;
}

.menu-item:hover{
  color: rgba(255, 255, 255, 1);
}
.menu-item:visited{
  color: rgba(255, 255, 255, 0.8);
}

.comment {
  padding: 10px;
  background-color: rgba(50,100,100,0.2);
}

.profile-pic {
  border-radius: 100%;
  margin: 0 10px 10px 0;
  width: 30vw;
  max-width: 150px;
  float: left;
  transition: 0.5s;
}
