{% extends "layout.html" %} {% block content %}
<div class="flex">
    <h1 class="text-2xl text-bold my-6 mx-auto">
        {{ section.title }}
    </h1>
</div>
<div class="flex gap-x-8">
    <div class="flex flex-col sm:w-3/4 w-full border border-2 border-gray-200 dark:border-black rounded-xl p-5 shadow-2xl bg-gray-200 dark:bg-gray-800">

        <div class="flex flex-col py-2 justify-center">
            <!-- <h2 class="text-2xl text-bold"><a href='{{ page.permalink }}'>{{ page.title }}</a></h2> -->
            <p class="text-bold">{{ section.description }}</p>
        </div>

        <!-- Content -->
        <div id="page-content" class="text-bold mt-2">
            {{ section.content | safe }}
        </div>



    </div>


</div>
{% endblock %} {% block extra_js %}
<script defer src="/js/page.js"></script>
{% endblock %}